@use '../../styles/scss/variables' as *;

.dashboard-container {
  width: 75%;
  background-color: $secondary-color;
  padding: 20px;
  margin: 70px 0px;
  border-radius: 8px;
}

.summary-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px;
}
