@use '../../styles/scss/variables' as *;

.dashboard-container {
  width: 85%;
  background-color: $secondary-color;
  padding: 20px;
  margin: 70px 0px;
  border-radius: 8px;
}

.summary-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 20px 8px;

  // Tablets and Mobiles
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .chart-card {
    background: $primary-color;
    padding: 12px;
    border-radius: 8px;
    height: 320px;
  }
}
