@use '../../styles/scss/variables' as *;
@use 'sass:color';

.filters-container {
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  margin: 20px 8px;

  input,
  select {
    padding: 12px 14px;
    border-radius: 8px;
    background: $primary-color;
    outline: none;
    color: #fff;
    border: 1px solid transparent;
    font-size: 14px;
    transition: all 0.3s ease;

    &:focus {
      border-color: color.scale($primary-color, $lightness: 10%);
      background: color.scale($primary-color, $lightness: -5%);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  select {
    width: 20%;
    cursor: pointer;

    &:hover {
      background: color.scale($primary-color, $lightness: -0.7%);
    }
  }

  .search-input {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;

    input {
      width: 100%;
      padding-right: 35px;
    }

    button {
      position: absolute;
      right: 10px;
      background: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      transition: transform 0.2s ease;

      &:hover {
        color: color.scale($primary-color, $lightness: 25%);
      }
    }
  }

  // Tablets and Mobiles
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;

    .search-input {
      width: 100%;
    }

    select {
      width: 100%;
    }
  }
}
